/*!
Theme Name: Custom Template
Theme URI: http://miguel.nz
Author: Miguel Garrido Iglesias
Author URI: http://www.miguel.nz/
Description: HTML Stylus Grunt Template.
Version: 1.0
*/

// Our boilerplate 
@require 'stylus/base/default'

// Variables, colors, functions, etc
@require 'stylus/global'
@require 'stylus/base/print.css'
@require 'stylus/base/reset'

html, body
  margin:0
  padding:0
  min-height:100%
  width:100%

body
  font-family:body-font
  color: #111
  font-size: 1rem
  font-smooth: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: greyscale
  line-height textlh
  @media mobile
    min-width:rem(420px)
    
.content-wrapper
  div-wrapper(960px)
  padding-top:2rem
  padding-bottom:2rem



// Colours
white = #fff
black = #333
red =  darken(#FF0000,30%)
colors = {
  white: white,
  black: black,
  red: red,
}

for key,value in colors
  .bg{key}
    background-color value
  .{key}
    color value

for i in 1 .. 10
  .mt{i}
    margin-top unit(i,'rem')
  .mb{i}
    margin-bottom unit(i,'rem')
  .pt{i}
    padding-top unit(i,'rem')
  .pb{i}
    padding-bottom unit(i,'rem')


// Components - Default
@require 'stylus/components/grid'

// Partials
@require 'stylus/components/entry-content'
@require 'stylus/components/fonts'
@require 'stylus/components/header'
@require 'stylus/components/footer'
@require 'stylus/components/index'